#wrapper
  #splash_banner.rounded_corners
  .splash_col_1.rounded_corners
    %h1.center
      = "Performance Groups"
    %p
      = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida ut tempor sed, accumsan non dui. Cras at tellus ac metus sollicitudin convallis. Nunc venenatis, dolor consequat porttitor commodo, leo massa fringilla mauris, in placerat quam turpis ac tortor. Aliquam sit amet nisi leo, non mattis est. Integer sodales eleifend velit, sit amet ultricies odio pretium non. Praesent accumsan dictum orci id interdum. Nullam ut varius lectus."
  .splash_col_2.rounded_corners
    %h1.center
      = "Education Groups"
    %p
      = "Fusce sed interdum neque. In commodo massa in risus elementum elementum. In in neque a nunc blandit ornare quis hendrerit est. Praesent sed sem quam, at tempor sem. Nam at lacus et orci interdum adipiscing. Quisque laoreet consequat tellus nec egestas. Nulla interdum, arcu ut blandit luctus, quam metus interdum libero, ac congue metus eros sit amet neque."
  .splash_col_3.rounded_corners
    %h1.center
      = "Community Groups"
    %p
      = "Nulla a nunc ac justo mollis bibendum quis sed dui. In ac magna mauris, non volutpat metus. Etiam aliquam quam vel elit vulputate pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla erat ligula, egestas eu imperdiet vel, cursus et turpis. Maecenas vel nisl aliquet neque consequat tincidunt. Vivamus vel nulla lectus. Praesent ac suscipit urna. Sed sit amet nibh diam. Curabitur bibendum est eget quam lobortis mattis pharetra lectus fringilla. Vestibulum vel tellus eros, ultrices eleifend ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla in tincidunt tortor. Fusce vel imperdiet mi."
  .clear