- title "Glass House Travel"
%ul.form
  %li.center
    = image_tag("logo_mobile.gif", :id => "logo")
  %li 
    = link_to_unless_current "Performance Groups","/performance"
  %li 
    = link_to_unless_current "Education Groups","/education"
  %li 
    = link_to_unless_current "Community Groups","/community"
    
%ul.form
  %li 
    = link_to_unless_current "about","/about"
  %li
    = link_to_unless_current "contact","/contact"