#wrapper
  #splash_banner.rounded_corners
  .splash_col_1.rounded_corners
    %h1.center
      = "Performance Groups"
    .learn_more  
      = link_to image_tag('lm_1.png', :mouseover => 'lm_2.png'), "#"
    %p
      = "We understand that performance groups have unique needs.  From venues, to equipment, to special room-blocking requirements - we can work with you to create a travel experience that achieves your groups' objectives."
   
  .splash_col_2.rounded_corners
    %h1.center
      = "Education Groups"
    .learn_more  
      = link_to image_tag('lm_1.png', :mouseover => 'lm_2.png'), "#"
    %p
      = "Travel is an integral part of a complete education.  Let us coordinate your next group trip to the District of Columbia, New York, or any other North American destination."
  .splash_col_3.rounded_corners
    %h1.center
      = "Community Groups"
    .learn_more  
      = link_to image_tag('lm_1.png', :mouseover => 'lm_2.png'), "#"
    %p
      = "Do you have a group that wants to take a trip?  We can help your group book that cruise, ski vacation, or foodie tour that you have been talking about for years.  The sky is the limit!"
  .clear