!!!
%html
  %head
    %title Glasshouseproject
    = stylesheet_link_tag    "application.css"
    = javascript_include_tag "application.js"
    = csrf_meta_tags
  %body
    #master_wrap
      #nav_01
        #nav_wrap
          = link_to_unless_current image_tag("logo1.gif", :id => "logo"), root_path
          %ul.float_right
            %li
              = link_to_unless_current "about", "/about"
            %li
              = link_to_unless_current "contact", "/current"
      #splash_wrapper
        - unless notice.blank?
          .notice 
            = notice
        - unless alert.blank?
          .alert
            = alert
        = yield
      .pad_10
      .push
    #nav_02.center
      = "Copyright &copy; 2012 | ".html_safe
      = link_to "Go To Mobile Site", root_url(:mobile => 1)
